{% include '../base/head.html' %}
<div class="user settings profile">
	<div class="ui container">
		<div class="ui grid">
			{% include "./settings/navbar.html" %}
			<div class="twelve wide column content">
				{% include "../base/alert.html" %}
				<h4 class="ui top attached header">
					settings.public_profile
				</h4>
				<div class="ui attached segment">
					<p>settings.profile_desc</p>
					<form class="ui form" action="" method="post">
						<div class="required field">
							<label for="username">username<span class="text red hide" id="name-change-prompt"> settings.change_username_prompt</span></label>
							<input id="username" name="name" value="{{user.username}}" data-name="" autofocus required readonly>
							<p class="help text blue">settings.password_username_disabled</p>
						</div>
						<div class="field">
							<label for="full_name">settings.full_name</label>
							<input id="full_name" name="full_name" value="">
						</div>
						<div class="required field">
							<label for="email">email</label>
							<input id="email" name="email" value="{{user.email}}" required>
						</div>
						<div class="field">
							<label for="website">settings.website</label>
							<input id="website" name="website" type="url" value="">
						</div>
						<div class="field">
							<label for="location">settings.location</label>
							<input id="location" name="location"  value="">
						</div>

						<div class="field">
							<button class="ui green button">settings.update_profile</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "../base/footer.html" %}
