<div class="ui repository list">
		<div class="item">
			<div class="ui header">
				<a class="name" href=""> Owner / Name</a>
					<span class="text gold"><i class="octicon octicon-lock"></i></span>
					<span><i class="octicon octicon-repo-forked"></i></span>
					<span><i class="octicon octicon-repo-clone"></i></span>

				<div class="ui right metas">
					<span class="text grey"><i class="octicon octicon-star"></i> 0</span>
					<span class="text grey"><i class="octicon octicon-git-branch"></i> 0</span>
				</div>
			</div>
			<p class="has-emoji"></p>{{end}}
			<p class="time">最后更新于</p>
		</div>
	{{end}}
</div>
