{% include "./base/head.html" %}
<div class="user signin">
	<div class="ui middle very relaxed page grid">
		<div class="column">
            <form action="." method="post" class="ui form">
                {% csrf_token %}
                <h3 class="ui top attached header">
					登录
				</h3>
                <hr />
                <div class="required inline field">
                    <label for="id_username" class="col-md-2 control-label">用户名或邮箱</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="required inline field">
                    <label for="id_password" class="col-md-2 control-label">密码</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="inline field">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="/" />
                        <input type="submit" value="登录" class="ui green button" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">请输入正确的用户名和密码。</p>
                {% endif %}
            </form>
			
		</div>
	</div>
</div>
{% include "./base/footer.html" %}
