{% include "../../base/head.html" %}
<div class="user settings password">
	<div class="ui container">
		<div class="ui grid">
			{% include "../settings/navbar.html" %}
			<div class="twelve wide column content">
				{% include "../../base/alert.html" %}
				<h4 class="ui top attached header">
					settings.change_password
				</h4>
				<div class="ui attached segment">
					<form class="ui form" action="" method="post">
						<div class="required field error">
							<label for="old_password">settings.old_password</label>
							<input id="old_password" name="old_password" type="password" autofocus required>
						</div>
						<div class="required field error">
							<label for="password">settings.new_password</label>
							<input id="password" name="password" type="password" required>
						</div>
						<div class="required field error">
							<label for="retype">settings.retype_new_password</label>
							<input id="retype" name="retype" type="password" required>
						</div>

						<div class="field">
							<button class="ui green button">settings.change_password</button>
						</div>
					</form>
					<div class="ui info message">
						<p class="text left">settings.password_change_disabled</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% include "../../base/footer.html" %}
